<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find omni_navigation)/maps/mymap.yaml"/> />

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find omni_navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find omni_navigation)/launch/move_base.launch" />
</launch>