<?xml version="1.0"?>
<launch>
    <arg name="world" default="empty" />
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find omni_gazebo)/world/jiandan.world" /> -->
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="debug" value="$(arg debug)" />
    </include>
    
    <param name="robot_description"
            command="$(find xacro)/xacro --inorder '$(find omni_gazebo)/urdf/omni_robot.xacro'" />
    
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -x 0 -y 0 -z 0 -model omni_robot" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen" />
   
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false" />
    </node>
    
    <!--<node name="rviz" pkg="rviz" type="rviz" required="true" output="screen"
            args="-d $(find omni_gazebo)/config/rviz_config.rviz" />-->
            

</launch>
